.site-header {
  background: #FFEAAA;
}

/* DONE: Float the main header to the left, to make room for the hamburger menu. */
.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

/* TODO: Add styles for the icon-menu class. It should be bigger, and off to the right. Done*/
.icon-menu {
  font-size: 40px;
  float: right;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display:
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (min-width: 770px) {
  .icon-menu {
    display: none;
  }


  main {
    padding: 50px;
  }

  .main-nav {
    display: inline;
  }
}

@media only screen and (max-width: 769px) {
  .main-nav ul {
    display: none;
  }

  .main-nav:hover ul {
    display: block;
  }

  main {
    padding: 20px;
  }
}
